/* IMPOSTAZIONI GENERALI*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}
h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.5em;
}
p {
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}
/* IMPOSTAZIONI PERSONALIZZATE */

body {
  background-color: #e9edee;
}

main {
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 0;
  background-color: #e9edee;
  font-family: Arial, Helvetica, sans-serif;
}

.text-center {
  text-align: center;
  width: 100%;
}

.bg-dark {
  color: #eaeded;
  background-color: #222f3e;
}

.bg-grey {
  color: #eaeded;
  background-color: #364759;
}

.bg-yellow {
  color: #eaeded;
  background-color: #f56600;
}

.py-1 {
  padding: 1rem 0;
}

.logo-header {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 0;
  padding-left: 2rem;
}

.logo-header img {
  width: 10%;
}

.logo-footer {
  padding-top: 5%;
  padding-bottom: 5%;
}

.logo-footer img {
  width: 15%;
  display: block;
  margin: auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: #eaeded;
  text-align: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

a {
  color: #eaeded;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  width: 100%;
}

.background {
  background-image: url("../images/bg-image.png");
  width: 100%;
  color: #eaeded;
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 3rem;
}

.background h1 {
  margin-bottom: 2rem;
}

.margin2 {
  margin-bottom: 2rem;
}

.inline {
  display: inline-block;
  width: 22%;
  margin: 1rem;
  box-shadow: 6px 6px 19px -7px rgba(0, 0, 0, 0.61);
  border-radius: 25px;
  height: 350px;
}

.inline img {
  width: 100%;
  border-radius: 25px;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.container-for-inline {
  background-color: white;
}

.container-for-inline p {
  padding-top: 1rem;
  padding-left: 1rem;
  font-weight: bold;
}

.text p,
button {
  display: inline-block;
  font-weight: bold;
}

.text button {
  background-color: transparent;
  border: none;
  font-weight: bold;
  color: #00788b;
  cursor: pointer;
}

.img9 {
  width: 100%;
}

.img9 img {
  width: 100%;
  object-fit: contain;
}

footer {
  width: 100%;
}
